/* contact.css */

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-section {
    background-color: #A7D7C5;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

.contact-section form input,
.contact-section form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-section form button {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-section form button:hover {
    background-color: #0056b3;
}
