.main-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #A7D7C5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-header {
    text-align: center;
    margin-bottom: 20px;
}

.mood-entry {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Add margin-bottom for spacing */
}

.mood-entry h2 {
    margin-bottom: 15px;
}

.mood-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    display: flex;
    align-items: center;
}

input[type="radio"] {
    margin-right: 5px;
}

#submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit-btn:hover {
    background-color: #0056b3;
}
