
.registration-form{
    border: 1px solid red;
    height: 800px;
    padding: 20px;
   

}

.login-section img{
    border: 1px solid red;
    padding: 30px;
    width: 200px;
    height: 200px;
    
}
